.footer{
    padding: 50px 0px;
    background: #eeeaff;
}
.footer_wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}
.footer_box{
    width: 30%;
}
.footer_box p{
    color: var(--heading-color);
    margin-top: 20px;
    line-height: 28px;
}
.footer_title{
    font-size: 1.2rem;
    color: var(--heading-color);
    margin-bottom: 20px;
}
.footer_links li{
    line-height: 28px;

}
.footer_links li a{
    color: var(--heading-color);
}
.footer_links li a:hover{
    background: var(--primary-color);
}
.copyright{
    margin-top: 30px;
    text-align: center;
    color: #777;
    font-size: 0.7rem;
}