.slider{
    width: 600px;
}
.slider h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 500;
}
.swiper-slide{
    background: #fff;
    padding: 40px;
    border-radius: 5px;

}
.slider_img-01 .slider_img-02 .slider_img-03 img{
    width: 100%;
   
}
.slider_img-01{
    background: #eeeaff;
}
.slider_img-02{
    background: #d3cef2;
}
.slider_img-03{
    background: rgba(141, 141, 235, 1) 85%;
}
.slider_img-01,.slider_img-02,.slider_img-03{
    border-radius: 0.8rem;
    margin-bottom: 30px ;
}
.slide_item h4{
    margin-bottom: 10px;
    color: var(--heading-color)

}
.slide_item p{
    color: var(--heading-color);
    line-height: 28px;
}